<%- layout('layouts/main.ejs') %>
<div class="jumbotron">
    <h1 class="display-4">App de login y registro</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus tenetur obcaecati, ipsum similique sed incidunt recusandae nemo libero impedit quo.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-success btn-lg" href="/signup" role="button">Registrate y empieza</a>
</div>