<%- layout('layouts/main.ejs') %>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Entrar</h1>
            </div>
            <div class="card-body">
                <form action="/signin" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Enter your password">
                    </div>
                
                    <button class="btn btn-primary btn-block" type="submit">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>